.page-title {
  text-align: center;
  margin: 4rem 0;

  @include medium-wide {
    @include font-size(70px);
  }
}

.countries-list {
  display: flex;
  flex-direction: column;

  @include medium-wide {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
