.page-title {
  text-align: center;
  margin: 4rem 0;

  @include medium-wide {
    @include font-size(70px);
  }
}

.countries-list {
  max-width: 2530px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;

  @include small {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  @media screen and (min-width: 1090px) {
    margin-left: auto;
    margin-right: auto;
  }
}
